a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

* {
  font-family: "JetBrains Mono" !important;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
